* {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

#event1 {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: orange;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(orange, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 10px;
}

.title-text h1 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.desc {
    flex-basis: 50%;
    text-align: initial;
}

.desc-img {
    flex-basis: 50%;
    margin: auto;
}

.desc-img img {
    width: 70%;
    border-radius: 10px;
}

.desc h1 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    color: orange;
}

.description {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.description-text p {
    text-align: initial;
}